body {
    position: relative;
    border-style: ridge;

}
a {
    border-style: groove;
    border-color: brown;
    border-radius: 4px;
    background-color: burlywood;
    text-decoration: none; 
    color: brown;
    padding: 1px;
    font-family:fantasy;
    font-weight: 100;
    font: size 5px; 
    position: relative;
    width: 100px;
}
header {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: groove;
    border-width: inherit;
    position: relative;
    width: 98%;
    display: flex;
    height: min-content;
}

img {
    display: flex;
    position: relative;
    float: inline-end;
    width: 95%;
    max-height: 237.833px;
    

}

#title {
    width: 97.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: left;
}
body{
    background-color: brown;
}