h2 {
    position: relative;
    display: block;
    float: inline-start;
    height: auto;
    width: fit-content;
}

.nav {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: groove;
}

#topnav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

#botnav {
    display: flex;
    position: relative;
}



.rlink  {
    text-shadow: 2px;
    font: message-box;
    text-decoration: solid;
    text-decoration-line: none;
    height: fit-content;
    width: fit-content;
    background-color: burlywood;
    border-color: brown;
    border-width: 1px;
    border-style: groove;
    border-radius: 18%;
    color: blanchedalmond;
    
    
}

#navlinks {
    position: relative;
    display: flex;
    float: inline-end;
    flex-direction: row;
    max-height: fit-content;
   
}

body {
    background-color: brown;
    border: 20px;
    /* border-image: url(https://cdn.pixabay.com/photo/2019/03/03/20/23/background-4032775_1280.png) 27 / 50px 30px/ 1rem round space; */
}