h2 {
    position: relative;
    display: block;
    float: inline-start;
    height: fit-content;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}
 
 
.nav {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
}

#topnav {
    display: flex;
    flex-direction: column; 
    position: relative;
    max-width: fit-content;
}

.rlink  {
    text-decoration: solid;
    text-decoration-line: none;
    color: bisque; 
    border-color: black;
    border-style: groove;
    background-color: brown;
    max-width: 100%;
    border-radius: 6px;

}

#botnav {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.flink {
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration-line: none;
    color: brown;
}

#contactme{
    display: flex;
    position: relative;
    max-height: fit-content;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 8px;
    text-decoration-line: underline;
    color: black;
}


body {
    background-color: brown;
    border: 20px;
    /* border-image: url(https://cdn.pixabay.com/photo/2019/03/03/20/23/background-4032775_1280.png) 27 / 50px 30px/ 1rem round space; */
}
address {
    max-height: fit-content;
}
